@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Inter&display=swap');

:root {
  --pale-spring-bud: #ccd5aeff;
  --pale-spring-bud-2: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --fawn: #d4a373ff;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--cornsilk);
}
